@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
}

.btn-print {
    color: aliceblue;
    background-color: #C82826;
    width: 100%;
}

.btn-email {
    width: 100%;
}

.btn-print:hover {
    color: aliceblue;
    background-color: #B42422;
    width: 100%;
}

#flash{ 
    opacity: 0;
    transition: all 10ms ease-in;/* Shutter speed */
    position: fixed;
    height: 0%;
    width: 0%;
    pointer-events: none;
    z-index:1;
  
    background-color: black;/* Shutter Color */
    
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%)
  }
  
#flash.on {
opacity: 1;/* Shutter Transparency */
height: 100%;
width: 100%;
}
