@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
}

.btn-print {
    color: aliceblue;
    background-color: #C82826;
    width: 100%;
}

.btn-email {
    width: 100%;
}

.btn-print:hover {
    color: aliceblue;
    background-color: #B42422;
    width: 100%;
}
