@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Poppins', sans-serif;
}

.btn-print {
    color: aliceblue;
    background-color: #C82826;
}


.btn-print:hover {
    color: aliceblue;
    background-color: #B42422;
}